#actualizarEstado
{
    margin-left: 7%;
}

#btnActualizarEstado
{
    margin-top: 5%;
    margin-left: 15%;
}

.form-check
{
    margin: 10px;
}


#btnActualizarRol
{
    margin-top: 5%;
    margin-left: 8%;
}